%h1= t('.new_recipe')
= simple_form_for @recipe do |recipe|
  = recipe.input :title
  = recipe.input :description
  %h3 Components
  = recipe.simple_fields_for :components do |component|
    %p
      = component.input_field :ingredient_id,
                        collection: Ingredient.all,
                        required: false
      = component.input_field :quantity, placeholder: t('.quantity')
      = component.input_field :units, placeholder: t('.units')
  = recipe.input :photo
  %h3 Steps
  = recipe.simple_fields_for :steps do |recipe_step|
    = recipe_step.input :position, type: 'hidden'
    = recipe_step.input :text, required: false, label: false
    = recipe_step.input :photo
  = recipe.submit
