%h1= t('.new_recipe')
= simple_form_for @recipe do |recipe|
  = recipe.input :title
  = recipe.input :description
  = recipe.input :photo

  %h3 Components
  = recipe.simple_fields_for :components do |component|
    = render 'recipes/component_field', f: component
  = link_to_add_field 'Add component', recipe, :components

  %h3 Steps
  = recipe.simple_fields_for :steps do |recipe_step|
    = recipe_step.input :position, as: :hidden
    = recipe_step.input :text, required: false, label: false
    = recipe_step.input :photo
  = recipe.submit
