
%table.ingredient-table
  %thead
    %th
    %th= t('.ingredient')
    %th
  %tbody
    - @ingredients.each do |ingredient|
      %tr{ id: "ingredient-#{ingredient.id}" }
        %td= image_tag ingredient.icon_url
        %td= link_to ingredient.name, ingredient_path(ingredient)
        %td.properties
          - if signed_in?
            - if ingredient.loved_by? current_user
              %span.icon-love
          - if ingredient.spice?
            %span.icon-spice
          - if ingredient.vegeterian?
            %span.icon-vegeterian

= will_paginate @ingredients
