%table.ingredient-table
  %thead
    %th= t('.icon')
    %th= t('.name')
    %th= t('.vegeterian')
    %th= t('.spice')
  %tbody
    - @ingredients.each do |ingredient|
      %tr{ id: "ingredient-#{ingredient.id}" }
        %td= image_tag ingredient.icon_url
        %td= link_to ingredient.name, ingredient_path(ingredient)
        %td
          - if ingredient.vegeterian?
            %span.icon-check
          - else
            %span.icon-remove
        %td
          - if ingredient.spice?
            %span.icon-check
          - else
            %span.icon-remove

= will_paginate @ingredients
