%h1= t('.new_receipt')
= simple_form_for @receipt do |receipt|
  = receipt.input :title
  = receipt.input :description
  %strong Components
  = receipt.simple_fields_for :components do |component|
    %p
      = component.input_field :ingredient_id,
                        collection: Ingredient.all,
                        required: false
      = component.input_field :quantity, placeholder: t('.quantity')
      = component.input_field :units, placeholder: t('.units')
  = receipt.submit
