.receipt-panel
  %h3= @receipt.title

  .receipt-body
    %p= @receipt.description
    %ul.components
      - @receipt.components.each do |component|
        %li.component
          = component.ingredient.name
          = component.quantity
          = component.units

= link_to t('.i_love_this'), receipt_loved_path(@receipt), method: 'post'
= link_to t('.i_hate_this'), receipt_hated_path(@receipt), method: 'post'
- if signed_in?
  - if @receipt.cooked_by? current_user
    = t('.you_cooked_this_recipe')
  - else
    = link_to t('.i_cooked_this'), receipt_cooked_path(@receipt), method: 'post'

= render 'disqus'
