%h2= t(".#{@attitude}d_recipes")
.receipts
  - @recipe_attitudes.each do |recipe_attitude|
    .receipt
      %h4= link_to recipe_attitude.receipt.title, receipt_path(recipe_attitude.receipt)
      %ul.components
        - recipe_attitude.receipt.components.each do |component|
          %li.component
            = component.ingredient.name
= will_paginate @recipe_attitudes
